[ global_tags ]
  environment = "devel"

[ agent ]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = "{{ inventory_hostname }}"

[[outputs.prometheus_client]]
    listen = ":9126"

{% for key,value in telegraf_inputs.items() %}
[[ inputs.{{ key }}]]
{% if value is iterable %}
{% for itemkey, itemvalue in value.items() %}
  {{ itemkey }} = {{ itemvalue }}
{% endfor %}
{% endif %}

{% endfor %}
